#product-quantity {
	margin-bottom: 15px;
}
#product-quantity label {
	padding-right: 5px;
}
.product-info .right .cart div .button,
.product-info .right .cart div input[name="quantity"],
#fake_quantity {
	width: auto;
	float: none;
}
.product-info .right .cart div input[name="quantity"] {
	line-height: 1;
}
.vertical-centered {
	display: inline-block;
	vertical-align: middle;
}
.hide-overflow {
	overflow: scroll;
}
.mobile-horizontal-scroll {
	margin: 30px 0;
	width: 800px;
}
body.group3 .secondary-menu-item-3 span,
body.group4 .secondary-menu-item-3 span {
	font-size: 14px;
	font-weight: bold;
	color: white;
}
@media all and (min-width: 700px) {
	.hide-overflow {
		overflow: hidden;
	}
	.mobile-horizontal-scroll {
		width: auto;
	}
}
#cc-notification #cc-notification-wrapper h2 {
	margin-right: 0px !important;
}
@media all and (max-width: 720px) {
	#cc-notification #cc-notification-wrapper .cc-notification-buttons li a {
		margin-top: 22px !important;
	}
	#cc-notification #cc-notification-wrapper {
		padding: 0px !important;
	}
}
@media all and (max-width: 360px) {
	#cc-notification #cc-notification-wrapper .cc-notification-buttons li a {
		padding: 1px 3px !important;
		margin-top: 32px !important;
	}
}
.text_welcome_b2b {
	float: right;
	color: white;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
}
@media all and (max-width: 1279px) {
	.text_welcome_b2b {
		visibility: hidden;
	}
}

#cc-notification {
	display: inline !important;
}

.list .bad_row td {
	background-color: rgba(255, 0, 0, 0.3);
}
.list .bad_color {
	background-color: rgba(0, 255, 0, 0.3);
}
.list .bad_size {
	background-color: rgba(0, 0, 255, 0.3);
}

.model_error_color {
	background-color: rgba(255, 0, 0, 0.3);
	color:white;
	padding-right:15px;
	padding-left: 15px;
}

.color_error_color {
	background-color: rgba(0, 255, 0, 0.3);
	color:white;
	padding-right:15px;
	padding-left: 15px;
}

.size_error_color {
	background-color: rgba(0, 0, 255, 0.3);
	color:white;
	padding-right:15px;
	padding-left: 15px;
}
